nav {
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0);
  overflow: hidden;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
  cursor: default;
  height: 3.5em;
  line-height: 1.7em;
  color: black;
  font-family: sans-serif;
  font-size: 1em;
  top: 50%;
 left:0


}
nav a {
 float: left;
  padding: 15px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
}
