.raffle{
    /* border:grey 2px solid;
    box-shadow: rgb(180, 173, 162); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.541);
    margin: 5px;
    padding:10px;
    width: 300px;
    height: 200px;
    color: blue;
}

.raffles-array {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    border: grey 2px solid;
    width: 500px;
    padding: 5px;
    margin: 5px;
}

a {
    text-decoration: none;
}



